body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFF;
}

h2 {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.list>li,
.list-portfolio>li {
    background-color: #FFFFFF;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

img {
    display: block;
}


/*========header========*/
.menu-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
    background: var #FFF;
}

.menu-header-navigation {
    display: flex;
    align-items: center;
    }

.menu-header-logo {
    align-items: center;
    margin-right: 76px;
}

.menu-header-list {
    display: flex;
    gap: 40px;
    }

.st:hover::after {
display: flex;
width: 48px;
height: 4px;
border-radius: 2px;
background: #404BBF;
content: "";
margin-top: 20px;
position: fixed;
justify-content: center;
}

.menu-header-item {
    display: flex;
}

.menu-header-link {
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    display: block;
    padding: 24px 0 24px;
}

.menu-info-list {
display: flex;
gap: 40px;
}


.menu-header-logo,
.logo-footer {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.accent {
    color: #2E2F42;
}



.menu-header-link:hover,
.menu-header-link:active,
.menu-header-link:focus {
    color: #404BBF;
}

.info {
    font-style: normal;
    margin-left: auto;
}

.menu-info-link {
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-info-link:hover,
.menu-info-link:active,
.menu-info-link:focus {
    color: #404BBF;
}

/*=============================*/

/*===========banner=============*/
.section-banner {
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
    url(../images/peopleoffic–µ.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
}


.banner {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    border-radius: 4px;
    margin: auto;
    border: none;
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:active,
.button:focus {
    background-color: #404BBF;
    
}

/*=====================*/


/*========sectoin-titel-list=======*/

.section-no-title {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    margin-bottom: 8px;
}

.sectoin-titel-list {
    display: flex;
    gap: 24px;
}

.section-title-item {
    flex-basis: calc((100% - 72px) / 4);
}


/*========section-our-team===========*/

.section-our-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.title {
    margin-bottom: 72px;
}

.our-title {
    text-align: center;
    margin-bottom: 8px;
}

.our-text {
    text-align: center;
}

.list {
    display: flex;
    gap: 24px;
    max-width: 1128px;
}

.list-foto {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    flex-basis: calc((100% - 72px) / 4);
}


.section-title {
    align-items: center;
    margin-bottom: 8px;
}

.section-text {
    align-items: center;
}

.our-title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;



}

/*========================*/

/*====section-Our-Portfolio=====*/

.section-our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title-text {
    border: 1px solid #E7E9FC;
    background: #FFF;
    padding: 32px 16px;
    border-top: none;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
   }

.list-foto-portfolio {
    flex-basis: calc((100% - 72px) / 3);
}

/*=======================*/


/*=========footer=======*/


.section-footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
}

.logo-footer {
    display: inline-block;
    color: #4D5AE5;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.logo-footer .accent {
    color: #F4F4FD;
}


.copyright-text {
    max-width: 264px;
}

/*==========================*/